<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>First project Django </title>
</head>
<body>
  <h1>Welcome everybody</h1>
  <!-- <p>
    Les Comores sont un archipel volcanique situé au large de la côte est de l'Afrique, dans les eaux chaudes du canal du Mozambique, 
    dans l'océan Indien. La plus grande île de cet État-nation, Grande Comore (Ngazidja),
     est entourée de plages et roche volcanique issue du volcan Karthala encore en activité. 
    Dans la capitale, Moroni, des portes sculptées et une mosquée blanche à colonnades,
  </p> -->
  <app-profil></app-profil>
</body>
</html>